body {
    width: 200px;
    height: 200px;
}

.popup {
   height: 100%;
}

button {
    font-size: 18px;
    width: 100%;
    min-height: 2em;
}

button#enable-remote {
    height: 25%;
}

button#follow-ticker {
    height: 25%;
}

button#toggle-overlay {
    height: 25%;
}

button#toggle-controller {
    height: 25%;
}
